.fixed-image-height{
  object-fit: contain;
  height:200px
}

.header,.footer{
  background-color: rgb(33,31,31);
  color: whitesmoke;
  height: 10vh;
  display:flex;
  position: sticky;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.header{
  top:0;
}

.footer{
  position:fixed;
  justify-content: space-between;
  width:100%;
  bottom:0;
}

.cart-item{
  border: 1px solid darkgray;
  background-color: whitesmoke;
}

.cart-item:hover{
  border: 1px solid black
}

.spacer{
  visibility: hidden;
  margin:0;
  height: 10vh;
  z-index:auto ;
}

.margin-spacer{
  margin-bottom: 10vh;
}

.header-size{
  font-size: 1.5rem;
  display:inline-block;
}

.small-spacer{
  height: 2vh;
  visibility: none;
}

.total-size{
  font-size: 1.1rem;
  display: inline-block;
}

.background{
  background-color: white;
}

#root{
  background-image: url('./images/united-squares.png');
  background-repeat: repeat;
  min-height: 100vh;
}

.sticky-offset{
  top: 12vh;
}

.pointer:hover{
  cursor: pointer;
}

@media (max-width:1024px){

  .mobile-hide{
    display: none;
  }

  .mobile-small{
    font-size: 14px;
  }

  .mobile-size{
    font-size: 1.5rem
  }

  .mobile-text{
    font-size: 16px;
  }

  .fixed-image-height-summary{
    display:none
  }

}
